* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.conteiner-header, .conteiner-banner, .conteiner-social, .container-bannerSecond, .conteiner-footer, .container-contact{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header{
width: 100%;
background: #000000;
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 183px;
  height: 75px;
  margin-left: 115px;
}
.navigation {
  margin-right: 170px;
}
.navigation-list {
  display: flex;
  /* align-items: stretch; */
  width: 113.8;
  text-align: center;
  transition: 0.3s;
}
.navigation-list li:hover {
  background: rgb(235, 71, 71);
  transition: 0.3s;
}
.navigation-list__item {
  width: 114px;
  height: 75px;
}
.navigation-list__item a {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 300;
  line-height: 75px;
}
/* banner */
.banner-section{
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-blend-mode: color;
}
.conteiner-banner {
padding-top: 231px;
padding-bottom:185px;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-form {
  width: 470px;
  height: 450px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-icon {
  margin-bottom: 73px;
}
.banner-title {
  color: white;
  font-size: 48px;
  font-family: Raleway;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  padding-bottom: 55px;
  margin-bottom: 42px;
  margin-top: 73px;
}
.banner-title::after {
  display: block;
  content: "";
  position: relative;
  top: 55px;
  bottom: 42px;
  width: 170px;
  height: 1px;
  background: #ffffff;
}
.banner-subtitle {
  color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}
.banner-download {
  width: 270px;
  height: 58px;
  border: 2px solid white;
  text-align: center;
  line-height: 58px;
  margin-top: 42px;
  margin-bottom: 185px;
}
.banner-download a {
  color: #ffffff;
}

.banner-form__content{
  padding-top: 29px;
}

.banner-form__form{
margin-bottom: 75px;
}
.banner-form__title{
  color: #333333;
 text-align: center;
font-size: 24px;
font-family: Open Sans;
font-weight: 700;
text-transform: uppercase;
word-wrap: break-word;
margin-bottom: 73px;
}
.banner-form__title--colortext{
  color: #EC7979;
}
.form input{
  width: 370px;
  outline: none;
  border: none;
  padding-bottom: 16px;
  margin-bottom: 33px;
  margin-left: 50px;
}
#banner-name{
  color: #BDBDBD;
   font-size: 14px;
   font-family: Open Sans;
   font-weight: 400;
   word-wrap: break-word;
  border-bottom: 1px solid #BDBDBD;
  }
  #banner-pass{
  color: #BDBDBD;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #BDBDBD;
  }
  #banner-email{
  
  color: #BDBDBD;
   font-size: 14px;
   font-family: Open Sans;
   font-weight: 400;
   word-wrap: break-word;
  border-bottom: 1px solid #BDBDBD;
  }

  .banner-btn{
    height: 58px;
    background: #EC7979;
    margin: 0 auto;
    text-align: center;
    line-height: 58px;
  }
  .banner-btn a {
    color: #ffffff;
  }
/* social */

.social-section{
  background: #f8efef;
}
.social {
  display: flex;
}
.social-text {
  margin-right: 30px;
}
.text_1 {
  color: #333333;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-top: 16px;
  margin-bottom: 31px;
}
.text_2 {
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  width: 470px;
  margin-bottom: 15px;
}
.social-icons__svg{
  margin-top: 33px;
}
.icon {
  width: 70px;
  height: 70px;
  margin: 35px 15px;
}
.icon:hover{
background: rgb(214, 209, 209);
transition: 0.3s;
}

/* banner */

.bannerSecond-section{
background-image: url(../img/image-banner2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: color;
}

.bannerSecond-header{
  padding-top: 104px;
padding-bottom: 50px;
}

.bannerSecond-title{
    color: white;
    font-size: 36px;
    font-family: Raleway;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-bottom: 94px;
    text-align: center;
}
.bannerSecond-title::after {
  display: block;
  content: "";
  position: relative;
  top: 54px;
  bottom: 40px;
  width: 170px;
  height: 1px;
  background: #ffffff;
  margin: 0 auto;
}
.bannerSecond-subtitle{
    color: white;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 73px;
}
.bannerSecond-download{
    width: 370px;
    height: 58px;
    margin: 0 auto;
    border: 2px solid white;
    text-align: center;
    line-height: 58px;
}
.bannerSecond-download a {
    color: #ffffff;
  }






  .contact-content{
    padding-top: 104px;
    padding-bottom: 50px;
  }
.contact-title{
  color: black;
   font-size: 36px;
   font-family: Raleway;
   font-weight: 400;
   text-transform: uppercase;
   word-wrap: break-word;
 text-align: center;
 padding-bottom: 94px;
}
.contact-title::after{
  display: block;
  content: "";
  position: relative;
  top: 54px;
  bottom: 40px;
  width: 170px;
  height: 1px;
  background: #EC7979;
  margin: 0 auto;
}
.contact-subtitle{
color: #86878B;
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word;
 text-align: center;
 margin-bottom: 89px;
}

.contact-form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#contact-name{
color: #BDBDBD;
 font-size: 14px;
 font-family: Open Sans;
 font-weight: 400;
 word-wrap: break-word;
border-bottom: 1px solid #BDBDBD;
}
#contact-pass{
color: #BDBDBD;
font-size: 14px;
font-family: Open Sans;
font-weight: 400;
word-wrap: break-word;
border-bottom: 1px solid #BDBDBD;
}
#contact-email{

color: #BDBDBD;
 font-size: 14px;
 font-family: Open Sans;
 font-weight: 400;
 word-wrap: break-word;
border-bottom: 1px solid #BDBDBD;
}
.form-group input{
  width: 571px;
  outline: none;
  border: none;
  padding-bottom: 16px;
  margin-bottom: 50px;
}
.my-form{
  width: calc((100% - 30px) / 2);
}

.form-group textarea{
  outline: none;
  border: none;
}
#contact-text{
  color: #BDBDBD;
   font-size: 14px;
   font-family: Open Sans;
   font-weight: 400;
   word-wrap: break-word;
   border-bottom: 1px solid #BDBDBD;
}

.contact-btn{
  width: 370px;
  height: 58px;
  background: #EC7979;
  margin: 0 auto;
  text-align: center;
  line-height: 58px;
}
.contact-btn a {
  color: #ffffff;
}




  footer{
    background: #000000;
  }
.conteiner-footer{
    text-align: center;
    /* margin-bottom: 27px; */
}
.footer-content{
  padding-bottom: 27px;
}
.footer-icons{
    margin-bottom: 28px;
    padding-top: 35px;
}
.icon_footer{
    margin: 0 16px;

}

.footer-text{
color: rgba(255, 255, 255, 0.50);
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word;
}

