* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.conteiner-header,
.conteiner-banner,
.container-tabs,
.conteiner-social,
.conteiner-about,
.bg-conteiner,
.conteiner-customers,
.container-bannerSecond,
.conteiner-footer,
.container-contact {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: #000000;
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  width: 183px;
  height: 75px;
  margin-left: 115px;
}
.header-navigation {
  margin-right: 170px;
}
.header-navigation__list {
  display: flex;
  /* width: 113.8; */
  text-align: center;
  transition: 0.3s;
}
.header-navigation__list li:hover {
  background: rgb(235, 71, 71);
  transition: 0.3s;
}
.header-navigation__list--item {
  width: 114px;
  height: 75px;
}
.header-navigation__list--item a {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 300;
  line-height: 75px;
}
/* banner */
.banner-section {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color;
}
.conteiner-banner {
  padding-top: 231px;
  padding-bottom: 185px;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-title {
  max-width: 670px;
  color: white;
  font-size: 48px;
  font-family: Raleway;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  padding-bottom: 55px;
  margin-bottom: 42px;
  margin-top: 73px;
}
.banner-title::after {
  display: block;
  content: "";
  position: relative;
  top: 55px;
  bottom: 42px;
  width: 170px;
  height: 1px;
  background: #ffffff;
}
.banner-subtitle {
  max-width: 270px;
  color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}
.banner-download {
  width: 270px;
  height: 58px;
  border: 2px solid white;
  text-align: center;
  line-height: 58px;
  margin-top: 42px;
  margin-bottom: 185px;
  background-image: none;
  background: transparent;
  color: #ffffff;
}
.banner-download:hover {
  background-color: rgb(230, 112, 112);
  transition: 0.3s;
}
.banner-form {
  width: 470px;
  height: 450px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-form__content {
  padding-top: 29px;
}
.banner-form__title {
  color: #333333;
  text-align: center;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-bottom: 73px;
}
.banner-form__form {
  display: flex;
  flex-direction: column;
}
.banner-form__form input {
  max-width: 360px;
  outline: none;
  border: none;
  margin-left: 50px;
  padding-bottom: 19px;
}
.banner-form__title--colortext {
  color: #ec7979;
}
#banner-name {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 33px;
}
#banner-pass {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 75px;
}
#banner-email {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 33px;
}
.banner-btn {
  height: 58px;
  width: 100%;
  background: #ec7979;
  margin: 0 auto;
  text-align: center;
  line-height: 58px;
  border: none;
  color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.banner-btn:hover {
  background: red;
}
/* social */
.social-section {
  background: #f8efef;
}
.social {
  display: flex;
}
.social-text {
  margin-right: 30px;
}
.text_1 {
  color: #333333;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-top: 16px;
  margin-bottom: 31px;
}
.text_2 {
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  width: 470px;
  margin-bottom: 15px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.social-items {
  width: 70px;
  height: 70px;
}
svg path:hover {
  fill: #19ff04;
  transition: 0.8s;
}
/* Таб */
ul[class],
ol[class] {
  list-style: none;
}
.tab-header {
  padding-top: 99px;
}
.tab-navigation__list {
  border-bottom: 1px solid #c6cbcd;
}
.tab-navigation__list--item {
  width: 184px;
  display: inline-block;
  text-align: center;
}
.tab-navigation__list--item a {
  color: black;
  line-height: 40px;
  margin: 0 auto;
  color: #333333;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
}
.tab-navigation__item--active {
  width: 204px;
  border: 1px solid #c6cbcd;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 2px solid white;
  transform: translateY(2px);
}
.tab-center {
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  display: flex;
  justify-content: space-between;
}
.tab-center__left {
  padding-top: 42px;
  padding-left: 100px;
  padding-bottom: 54px;
}
.tab-title {
  max-width: 570px;
  margin-bottom: 68px;
  color: black;
  font-size: 30px;
  font-family: Open Sans;
  font-weight: 700;
  word-wrap: break-word;
}
.tab-subtitle_1 {
  max-width: 570px;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 25px;
}
.tab-subtitle_2 {
  max-width: 570px;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 27px;
}
.tab__btn {
  width: 270px;
  height: 58px;
  color: white;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  background: #ec7979;
  border: none;
}
.tab__btn:hover {
  background: red;
  transition: 0.3s;
}
/* about */
.conteiner-about {
  padding-top: 104px;
  padding-bottom: 58px;
}
.about-title {
  color: black;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  padding-bottom: 54px;
  margin-bottom: 40px;
}
.about-title::after {
  display: block;
  content: "";
  position: relative;
  top: 54px;
  bottom: 40px;
  width: 170px;
  height: 1px;
  background: #e72626;
  margin: 0 auto;
}
.about-subtitle {
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 71px;
}
.about {
  display: flex;
  justify-content: space-around;
}
.about-item {
  width: calc((100%-62px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-item__img {
  width: 170px;
  height: 170px;
}
.about-item__name {
  color: black;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  text-align: center;
  margin-top: 34px;
}
.about-item__text {
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 41px;
  text-align: center;
}
/* bg */
.section-bg {
  background: #f5f5f5;
}
.bg-title {
  color: black;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  padding-top: 104px;
  margin-bottom: 54px;
  text-align: center;
}
.bg-separator {
  display: block;
  width: 170px;
  height: 100%;
  border: 1px #ec7979 solid;
  margin: 0 auto;
}
.bg-subtitle {
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 40px;
  padding-bottom: 79px;
  text-align: center;
}
.bg {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  gap: 30px;
}
.bg-price {
  width: 370px;
}
.price-list__item {
  width: 370px;
  /* height: 50px; */
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
  border-bottom: 2px solid rgb(241, 241, 241);
  background: white;
  line-height: 50px;
  text-align: center;
}
.price-list__item-title {
  /* height: 60px; */
  color: white;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  background: rgb(58, 57, 57);
  line-height: 60px;
  text-align: center;
}
.price-list__item-price {
  /* height: 100px; */
  color: white;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 700;
  word-wrap: break-word;
  background: rgb(58, 57, 57);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  line-height: 97px;
  text-align: center;
}
.price-list__item-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  background: rgb(58, 57, 57);
  line-height: 50px;
  padding-left: 10px;
  text-align: center;
}
/* customer */
.title {
  padding-top: 104px;
  color: black;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 54px 55px;
  margin-bottom: 40px;
  text-align: center;
}
.title::after {
  display: block;
  content: "";
  position: relative;
  top: 54px;
  bottom: 40px;
  margin: 0 auto;
  width: 170px;
  height: 1px;
  background: #ec7979;
}
.subtitle {
  /* margin-bottom: 83px; */
  padding: 0 40px;
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 83px;
}
.opinion {
  width: calc((100% - 60px) / 3);
}
.opinion__text {
  position: relative;
  padding: 38px 24px 37px;
  margin-bottom: 66px;
  border-radius: 10px;
  background: #e2e2e2;
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
}
.opinion__text:after {
  display: block;
  content: "";
  position: absolute;
  left: 32px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.opinion__author {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 30px;
}
.name {
  color: black;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
}
.role {
  margin-top: 25px;
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}

/* banner */

.bannerSecond-section {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/image-banner2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color;
}
.bannerSecond-header {
  padding-top: 104px;
  padding-bottom: 50px;
}
.bannerSecond-title {
  color: white;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  padding-bottom: 94px;
  text-align: center;
}
.bannerSecond-title::after {
  display: block;
  content: "";
  position: relative;
  top: 54px;
  bottom: 40px;
  width: 170px;
  height: 1px;
  background: #ffffff;
  margin: 0 auto;
}
.bannerSecond-subtitle {
  color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  padding-bottom: 73px;
}
.bannerSecond-download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 58px;
  margin: 0 auto;
  border: 2px solid white;
  text-align: center;
  line-height: 58px;
  background-image: none;
  background: transparent;
  color: #e2e2e2;
}
.bannerSecond-download:hover {
  background: red;
  transition: 0.3s;
}

/* contact */

.contact-content {
  padding-top: 104px;
  padding-bottom: 50px;
}
.contact-title {
  color: black;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
  padding-bottom: 94px;
}
.contact-title::after {
  display: block;
  content: "";
  position: relative;
  top: 54px;
  bottom: 40px;
  width: 170px;
  height: 1px;
  background: #ec7979;
  margin: 0 auto;
}
.contact-subtitle {
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 89px;
}
.contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-form input {
  outline: none;
  border: none;
}
.form-input {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 50px;
}
.form-input,
.form-messange {
  width: calc((100% - 30px) / 2);
}

#contact-name {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 50px;
  padding-bottom: 16px;
}
#contact-pass {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 50px;
  padding-bottom: 16px;
}
#contact-email {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 16px;
}
.form-messange {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contact-form textarea {
  outline: none;
  border: none;
  width: 100%;
  height: 207px;
  resize: none;
}
#contact-text {
  color: #bdbdbd;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
  border-bottom: 1px solid #bdbdbd;
}
.contact-btn {
  width: 370px;
  height: 58px;
  background: #ec7979;
  margin: 0 auto;
  text-align: center;
  border: none;
  color: #ffffff;
}
.contact-btn:hover {
  background: red;
}
/* footer */
footer {
  background: #000000;
}
.footer-content {
  padding-top:35px;
  padding-bottom: 27px;
}
.footer-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.footer-list__item{
  width: 53px;
  height: 53px;
}
.footer-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin-top: 28px;
}

/* @media (max-width: 1024px) {
  .navigation {
    max-width: 566px;
    margin-right: 20px;
  }
  .navigation-list__item {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .conteiner-banner {
    padding-left: 100px;
    padding-right: 20px;
  }
  .banner-title {
    max-width: 454px;
    margin-top: 37px;
    font-size: 36px;
  }
  .banner-subtitle {
    max-width: 183px;
    font-size: 14px;
  }
  .banner-download {
    max-width: 183px;
    margin-top: 31px;
    margin-bottom: 0;
  }
  .banner-form {
    max-width: 398px;
  }
  .banner-form__content {
    padding-top: 33px;
  }
  .banner-form__title {
    font-size: 18px;
    margin-bottom: 77px;
  }
}

@media (max-width: 1024px) {
  .social-text {
    margin-right: 62px;
    margin-left: 16px;
  }
  .text_1 {
    margin-top: 12px;
    font-size: 18px;
    margin-bottom: 23px;
  }
  .text_2 {
    max-width: 360px;
    font-size: 14px;
  }
  .social-icons__svg {
    margin-top: 10px;
    max-width: 5500px;
  }
}
@media (max-width: 1024px) {
  .tab-center {
    height: 100%;
  }
  .tab-header {
    padding-top: 50px;
  }
  .tab-center__left {
    padding-left: 85px;
    padding-bottom: 50px;
  }
  .tab-title {
    max-width: 414px;
    font-size: 24px;
    margin-bottom: 66px;
  }
  .tab-subtitle_1 {
    max-width: 483px;
    font-size: 14px;
  }
  .tab-subtitle_2 {
    max-width: 483px;
    font-size: 14px;
    margin-bottom: 38px;
  }
  .tab__btn {
    max-width: 231px;
  }
  .tab-center__right img {
    max-width: 398px;
    max-height: 385px;
  }
}
@media (max-width: 1024px) {
  .conteiner-about {
    padding-top: 96px;
    padding-bottom: 60px;
  }
  .about-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .about-title:after {
    top: 46px;
  }
  .about-subtitle {
    margin-bottom: 32px;
  }
  .about {
    max-width: 1024px;
  }
  .about-item {
    max-width: 317px;
  }
  .about-item__img {
    max-width: 147px;
    max-height: 147px;
  }
  .about-item__name {
    font-size: 18px;
    margin-top: 29px;
  }
  .about-item__text {
    font-size: 14px;
    margin-top: 37px;
    text-align: center;
  }
  .bg-title {
    padding-top: 96px;
    margin-bottom: 46px;
  }
  .bg-subtitle {
    margin-top: 32px;
    padding-bottom: 50px;
  }
  .price-list {
    max-width: 317px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 42px;
  }
  .title::after {
    top: 46px;
  }
  .info {
    padding-top: 32px;
    margin-bottom: 59px;
  }
  .opinion__text {
    font-size: 14px;
  }
  .opinion__author img {
    max-width: 63px;
    max-height: 63px;
  }
  .name {
    font-size: 18px;
  }
  .role {
    font-size: 14px;
  }
  .bannerSecond-header {
    padding-top: 96px;
    padding-bottom: 50px;
  }
  .bannerSecond-title {
    font-size: 24px;
    padding-bottom: 78px;
  }
  .bannerSecond-title::after {
    top: 46;
  }
  .bannerSecond-subtitle {
    font-size: 14px;
    padding-bottom: 32px;
  }
  .bannerSecond-download {
    max-width: 318px;
  }
  .contact-content {
    padding-top: 96px;
    padding-bottom: 50px;
  }
  .contact-title {
    font-size: 24px;
    padding-bottom: 78px;
  }
  .contact-title::after {
    top: 46px;
  }
  .contact-subtitle {
    margin-bottom: 72px;
  }
  .my-form input {
    max-width: 486px;
  }
  .contact-name {
    font-size: 14px;
  }
  #contact-email {
    font-size: 14px;
  }
  #contact-pass {
    font-size: 14px;
  }
  .contact-btn {
    max-width: 318px;
  }
  .footer-content {
    padding-bottom: 30px;
  }
  .footer-icons {
    margin-bottom: 38px;
  }
  .footer-text {
    font-size: 14px;
  }
  .footer-icons path {
    max-width: 45px;
    max-height: 45px;
  }
}

@media (max-width: 320px) {
  .header-content {
  }
  .logo {
    margin: 0;
  }
  .logo img {
    max-width: 130px;
    max-height: 56px;
    margin: 10px;
  }
  .navigation {
    display: none;
  }
  .banner-topic svg {
    display: none;
  }
  .conteiner-banner {
    padding: 84px 16px 50px;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-title {
    padding: 0;
    margin: 0;
    max-width: 288px;
    font-size: 36px;
    margin-bottom: 42px;
    padding-bottom: 44px;
  }
  .banner-title::after {
    top: 44px;
  }
  .banner-subtitle {
    max-width: 288px;
    font-size: 14px;
  }
  .banner-download {
    max-width: 288px;
    margin-top: 42px;
  }
  .banner-form {
    max-width: 288px;
    margin-top: 56px;
    height: 100%;
  }
  .banner-form__title {
    margin-bottom: 20px;
  }
  .banner-form input {
    margin: 0;
  }
  #banner-pass {
    margin-bottom: 51px;
  }
  .social {
    display: flex;
    flex-direction: column;
  }
  .social-text {
    margin: 0;
  }
  .text_1 {
    padding-top: 41px;
    padding-left: 104px;
    font-size: 18px;
  }
  .text_2 {
    max-width: 271px;
    text-align: center;
  }
  .social-icons__svg {
    max-width: 260px;
    margin-left: 10px;
  }
  .tab-center__left {
    padding: 0 25px;
    padding-bottom: 30px;
  }
  .tab-title {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
  }
  .tab-subtitle_1 {
    font-size: 13px;
    padding-bottom: 5px;
  }
  .tab-subtitle_2 {
    font-size: 13px;
    margin-bottom: 29px;
  }
  .tab__btn {
    max-width: 242px;
    font-size: 18px;
  }
  .tab-center__right {
    display: none;
  }
} */
